nav {
  animation: nav-shadow 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes nav-shadow {
  to {
    //box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    //backdrop-filter: blur(12px);
    //background-color: rgba(255, 255, 255, 0.5);

    --tw-ring-offset-shadow: 0 0 0 0px #fff;
    --tw-backdrop-blur: blur(8px);
    --tw-ring-color: rgb(255 255 255 / 0.1);
    --tw-ring-shadow: 0 0 0 calc(1px + 0px) rgb(255 255 255 / 0.1);
    --tw-shadow-colored: 0 0 #0000;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    box-shadow: rgb(255, 255, 255) 0 0 0 0, rgba(255, 255, 255, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#themes-menu.open {
  display: inline;
  animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-up-center {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
