.projects-container-empty {
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-building {
  font-size: 4rem;
  animation: spin 2.5s linear infinite;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  opacity: 0.9;
  max-width: 500px;
}

/* Barra de progreso animada */
.progress {
  width: 300px;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  border-radius: 3px;
  overflow: hidden;
}


.progress span {
  display: block;
  height: 100%;
  width: 30%;
  background: #00e5ff;
  animation: loading 1.8s ease-in-out infinite;
}

/* Animaciones */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
}
