/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: light dark;
  --tw-bg-opacity: 1;
  --bg-color: rgb(249 250 251 / var(--tw-bg-opacity));;
  --text-color: rgba(17, 17, 17, 0.9);
  //--card-bg: #f3f4f6;
  --bg-img: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(217, 216, 255, 0.5),
      rgba(255, 255, 255, 0.9));
}
//
[data-theme="dark"] {
  --tw-bg-opacity: 1;
  --bg-color: rgb(3 7 18 / var(--tw-bg-opacity));
  --text-color: rgba(255, 255, 255, 0.9);;
  --bg-img: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0))
}

body {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  color: var(--text-color) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//@media (prefers-color-scheme: dark) {
//  body {
//    color: rgba(255, 255, 255, 0.9);
//  }
//}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

//@layer base {
//  body {
//    //@apply text-gray-900 dark:text-gray-200;
//    color: var(--text-color);
//  }
//}
